Pillow==8.2.0
certifi==2019.11.28
chardet==3.0.4
cycler==0.10.0
docutils==0.16
idna==2.8
kiwisolver==1.1.0
lxml==4.4.2
matplotlib==3.1.2
nltk==3.4.5
numpy==1.18.1
pip==19.3.1
pygal==2.4.0
pygal_maps_world==1.0.2
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2019.3
requests==2.22.0
setuptools==45.0.0
singledispatch==3.4.0.3
six==1.13.0
statistics==1.0.3.5
urllib3==1.25.7
wordcloud==1.6.0